.checkoutBanner {
  text-align: center;
  height: 240px;
  background-image: url("../../assets/bg_6.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.checkoutBanner h1 {
  padding-top: 120px;
}
.checkoutContainer {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 100px 100px;
  background-color: #f8f9fa;
}
.bilingDetails {
  width: 550px;
}
.inputsContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 14px 0;
}
.fullname,
.phoneAndAddress {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.billingHeader {
  background-color: #d5d4d4;
  padding: 15px 20px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  opacity: 0.7;
}

.formDetailsContainer {
  padding: 22px;
  border: 1px solid gray;
}
input {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0;
  outline: none;
  border: 1px solid lightgray;
}
input:focus {
  border: 1px solid blue;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.errorText {
  color: crimson;
  font-size: 14px;
}
.orderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -moz-fit-content;
  height: 530px;
  overflow: auto;
}
.orderDetails {
  border: 1px solid gray;
  width: 400px;
}

.orderDetailsTable {
  display: flex;
  flex-direction: column;
}
.headerColumn {
  background-color: #efefef;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  text-align: center;
  width: 400px;
  padding: 10px 0;
}
.column {
  border: 1px solid gray;
  display: flex;
  width: 400px;
}
.productRow {
  width: 200px;
  border-right: 1px solid gray;
}
.priceRow {
  width: 120px;
  text-align: center;
}
.quantityRow {
  width: 80px;
  text-align: center;
}
.priceRow,
.productRow,
.quantityRow {
  padding: 5px 8px;
}
.footerColumn {
  background-color: #efefef;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  text-align: center;
  width: 400px;
  padding: 10px 0;
}
.placeOrder {
  margin-top: 30px;
  width: 130px;
  padding: 12px 15px;
  border-radius: 20px;
  background-color: green;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.placeOrder:hover {
  background-color: transparent;
  color: black;
  border: 1px solid green;
}
.deactive {
  opacity: 0.5;
  margin-top: 30px;
  width: 130px;
  padding: 12px 15px;
  border-radius: 20px;
  background-color: green;
  color: #fff;
  border: none;
  font-size: 14px;
  cursor: not-allowed;
}
input:disabled {
  cursor: not-allowed;
}
@media (max-width: 1200px) {
  .checkoutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .orderContainer {
    margin-bottom: 20px;
    height: 200px;
    overflow: auto;
  }
}
@media (max-width: 769px) {
  .checkoutBanner {
    height: 200px;
  }
  .checkoutBanner h1 {
    padding-top: 100px;
    font-size: 26px;
}
  .bilingDetails {
    width: 450px;
  }
  .inputsContainer {
    width: 100%;
  }
}
@media (max-width: 480px) {

  .checkoutBanner {
    height: 130px;
  }
  .checkoutBanner h1 {
    padding-top: 65px;
    font-size: 23px;
  }
  .checkoutContainer {
    padding: 50px 35px;
  }
  .orderContainer {
    width: 100%;
  }
  .bilingDetails {
    width: 100%;
  }
  .orderDetailsTable {
    width: 100%;
  }
  .headerRow {
    font-size: 14px;
  }
  .headerColumn {
    width: 100%;
  }
  .footerColumn {
    width: 100%;
  }
  .totalPriceRow {
    font-size: 14px;
  }
  .billingHeader {
    font-size: 16px;
    padding: 12px 20px;
  }
  .inputsContainer label {
    font-size: 14px;
  }
  input {
    padding: 5px;
    margin: 0;
  }
}
